body {
    background-color: beige;
}

h1 {
    text-align: center;
    color: rgb(238, 52, 20);
}

#searchWrapper {
    margin-bottom: 1.3em;
}

#container {
    background-color: wheat;
    border: 3px solid rgb(26, 18, 150);
}